{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-2">
  <link rel="stylesheet" type="text/css" href="{% static 'wayback/js-css/banner-styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'wayback/js-css/iconochive.css' %}">

  <title>Debrecen.hu</title>

  <link rel="stylesheet" href="{% static 'wayback/js-css/general.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'wayback/js-css/base.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'wayback/js-css/style.css' %}" type="text/css">
  <link rel="shortcut icon" href="{% static 'debrecen_logo.png' %}" type="image/png">
</head>

<body>
  <div id="dbhu-container" class="animate_content">
    <div id="dbhu-header">
      <h1 class="dbhu-offscreen">Debrecen.hu</h1>
      <div id="dbhu-spacer"></div>
      <a href="" id="dbhu-logo"><img src="{% static 'wayback/logo_debrecen_hu.png' %}" alt="Debrecen.hu" title="Debrecen.hu"></a>
      <div id="dbhu-langbar">
        <a href=""><img src="{% static 'wayback/nyelv.jpg' %}" alt="Nyelvválasztás" title="Nyelvválasztás"></a>
        <img src="{% static 'wayback/slash.jpg' %}" alt="">
        <a href=""><img src="{% static 'wayback/sprache.jpg' %}" alt="Bitte wählen Sie eine Sprache"
            title="Bitte wählen Sie eine Sprache"></a>
        <img src="{% static 'wayback/slash.jpg' %}" alt="">
        <a href=""><img src="{% static 'wayback/language.jpg' %}" alt="Please select a language" title="Please select a language"></a>
        <a href=""><img src="{% static 'wayback/hu.png' %}" alt="magyar" title="magyar"></a>
        <a href=""><img src="{% static 'wayback/de.png' %}" alt="Deutsch" title="Deutsch"></a>
        <a href=""><img src="{% static 'wayback/en.png' %}" alt="english" title="english"></a>
      </div>
      <div class="dbhu-banner">
      </div>
      <ul id="dbhu-mainmenu" class="">
        <li><a href="" class="dbhu-hirek "><span class="dbhu-offscreen">Hírek</span></a></li>
        <li><a href=""
            class="dbhu-varoshaza "><span class="dbhu-offscreen">Városháza</span></a></li>
        <li><a href="" class="dbhu-ugyintezes "><span class="dbhu-offscreen">Ügyintézés</span></a></li>
        <li><a href=""
            class="dbhu-varosunk "><span class="dbhu-offscreen">Városunk</span></a></li>
        <li><a href=""
            class="dbhu-intezmenyek "><span class="dbhu-offscreen">Intézmények</span></a></li>
        <li><a href=""
            class="dbhu-kultura "><span class="dbhu-offscreen">Kultúra</span></a></li>
        <li><a href=""
            class="dbhu-gazdasag "><span class="dbhu-offscreen">Gazdaság</span></a></li>
        <li><a href=""
            class="dbhu-programok "><span class="dbhu-offscreen">Programok</span></a></li>
        <li><a href=""
            class="dbhu-turizmus "><span class="dbhu-offscreen">Turizmus</span></a></li>
        <li><a href="" class="dbhu-terkep "><span
              class="dbhu-offscreen">Térkép</span></a></li>
        <li><a href="" class="dbhu-nyitolap dbhu-active"><span class="dbhu-offscreen">Nyitólap</span></a></li>

      </ul>
    </div>



    <!-- TARTALOM KEZDODIK! -->

    <div id="dbhu-wrapper">
      <div id="dbhu-content">
        <div class="dbhu-newsbox-bordered">
          <h2>Öt új troli érkezett</h2>
          
          <p><img height="99" alt="" width="150" src="{% static 'wayback/troli2.jpg' %}">Új trolik érkeztek Debrecenbe. A
            közlekedési vállalat 11 új járművet rendelt a Ganz gyártól,&nbsp;ami október 31-ig öt trolibuszt szállít
            majd a cívisvárosba. A többi hat november 30-ig várható - áll a DKV közleményében.</p>
          
          <p><a class="dbhu-continue"
              href="">Részletek</a>
          </p>
          <hr class="dbhu-spacer">
        </div>
        <div class="dbhu-article">
          <h3>Megnyitotta kapuit Debrecen legújabb gépipari gimnáziuma</h3>
          <p></p>
        </div>

        <div class="dbhu-newsbox-bordered">
          <h2>Dzsudzsák Balázs: új ország, új élet</h2>
          <p><img height="107" alt="" width="160" src="{% static 'wayback/dzsudzsak(1).jpg' %}">A húszszoros holland bajnok és
            korábbi BEK győztes PSV Eindhovenhez igazolt Dzsudzsák Balázs. Öröméről és terveiről is beszélt a Debrecen
            Televíziónak.</p>
          <p><a class="dbhu-continue"
              href="">Részletek</a>
          </p>
          <hr class="dbhu-spacer">
        </div>
        <div class="dbhu-more-information">
          <p>
          </p>
          <table cellspacing="5" cellpadding="10" width="350">
            <tbody>
              <tr>
                <td>
                  <p><a
                      href="">Mai
                      programok</a>
                  </p>
                </td>
                <td>
                  <p>
                    <a
                      href="">Pályázatok</a>


                  </p>
                </td>
              </tr>
              <tr>
                <td>
                    <p>
                          <a href="">Heti
                          programok</a>
                    </p>
                
                </td>
                <td>
                    <p>
                        <a
                          href="">Hivatali
                          információk</a>
                    </p>
                
                </td>
              </tr>
              <tr>
                <td>
                    <p>
                        <a href="">Turizmus</a>
                    </p>
                
                </td>
                <td>
                  <p><a href="">Közgyűlés</a>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                    <p>
                        <a
                          href="">Szálláshelyek</a>
                    </p>
                
                </td>
                <td>
                      <p>
                          <a
                            href="">Rendeletek,
                            határozatok</a>
                      </p>
                  
                
                </td>
              </tr>
              <tr>
                <td>
                  <p><a
                        href="">Szolgáltatások</a>
                  
                  </p>
                </td>
                <td>
                    <p>
                        <a
                          href="">Bizottságok</a>
                    
                    </p>
                
                </td>
              </tr>
              <tr>
                <td>
                    <p>
                        <a
                          href="">Kiemelt
                          rendezvények</a>
                    </p>
                
                </td>
                <td>
                    <p>
                        <a
                          href="">Előterjesztések</a>
                    
                    </p>
                
                </td>
              </tr>
              <tr>
                <td>
                  <p><a
                        href="">Sajtóesemények</a>
                  
                  </p>
                </td>
                <td>
                    <p>
                        <a
                          href="">Politikai
                          pártok</a>
                    </p>
                
                </td>
              </tr>
            </tbody>
          </table>
          <div class="dbhu-spacer dbhu-mi-bottom"></div>
        </div>
      </div>
    </div>
    <div id="dbhu-navigation">
      <div class="dbhu-newsbox">
        <h2>Helyi hírek</h2>
      </div>
      <div class="dbhu-newsbox">
        <h3>Korszerű óvoda épül</h3>
        <p>Nagy iramban halad a veres Péter utcai óvoda építése. A mintegy 100 férőhelyes épületet várhatóan január
          31-én adják át.</p>
        <p><a class="dbhu-continue"
            href="">Részletek</a>
        </p>
      </div>

      <div class="dbhu-newsbox">
        <h3>Zöldsáv is lesz a Nyugati kiskörúton</h3>
        <p>Zöldsávot alakítanának ki a Nyugati kiskörúton. Mivel az eredeti elképzeléseken nem szerepelt az elválasztó
          rész a kétszer két sáv között, módosítani kell a terveket.</p>
        <p><a class="dbhu-continue"
            href="">Részletek</a>
        </p>
      </div>

      <div class="dbhu-newsbox">
        <h3>Egy csepp figyelem</h3>
        <p>November 6-án Debrecenbe érkezik az Egy csepp figyelem elnevezésű országos kampány, melynek keretében
          ingyenes vércukorszint-mérést és tanácsadást lehet igénybe venni.</p>
        <p><a class="dbhu-continue" href="">Részletek</a>
        </p>
      </div>

      <div class="dbhu-newsbox">
        <h3>Szabó Magda regényének kitüntetése</h3>
        <p>Szabó Magda Pilátus című regényének olasz nyelvű kiadása – amelyet az Einaudi Kiadó gondozott – megkapta az
          Anfora Centroeuropea nevű díjat, amelyet hétfőn este adtak át a Római Magyar Akadémián – közölte a Magyar
          Távirati Iroda.</p>
        <p><a class="dbhu-continue" href="">Részletek</a>
        </p>
      </div>

      <div class="dbhu-newsbox">
        <h3>Felkészülés a csúszós utakra</h3>
        <p><img height="107" alt="" width="150" src="{% static 'wayback/teligumi.jpg' %}"><br>Mind többen tetetik fel a
          téli gumikat és ellenőriztetik a gépjármű műszaki állapotát.</p>
        <p><a class="dbhu-continue" href="">Részletek</a>
        </p>
      </div>

      <div class="dbhu-newsbox">
        <h3>Debrecen ideális helyszín lenne</h3>
        <p>Debrecen az Európai Spallációs Neutronforrás (European Spallation Source – ESS) köré épülő kutatóközpont
          egyik lehetséges helyszíne. A központért jelenleg Svédország, Spanyolország és Magyarország verseng egymással
          az Európai Unióban.</p>
        <p><a class="dbhu-continue" href="">Részletek</a>
        </p>
      </div>

      <div class="dbhu-newsbox">
        <h3>Felszámolják az illegális szemétlerakókat</h3>
        <p>A Kishegyesi út az illegális szemetelők kedvenc lerakóhelyévé vált az utóbbi időben.</p>
        <p><a class="dbhu-continue" href="">Részletek</a>
        </p>
      </div>

      <div class="dbhu-newsbox">
        <h2>Sporthírek</h2>
      </div>
      <div class="dbhu-newsbox">
        <h3>A második félidőben ébredtek a debreceniek</h3>
        <p>Bár harmincpercnyi játék után még a nyíregyháziak vezettek, a DKSE-Airport Debrecen meggyőző fölénnyel
          győzőtt idegenben.</p>
        <p><a class="dbhu-continue" href="">Részletek</a>
        </p>
      </div>

      <div class="dbhu-newsbox">
        <h3>Régen várt bravúr</h3>
        <p>Kimagasló egyéni teljesítmények és nagyszerű csapatmunka jellemezte a DVSC-Aquaticum játékát idegenben a
          Cornexi ellen, így lépéselőnyben a LOKI.</p>
        <p><a class="dbhu-continue" href="">Részletek</a>
        </p>
      </div>

    </div>
    <div id="dbhu-extra">
      <div id="dbhu-date">
        <strong>2007. november 1., csütörtök</strong><br>Marianna
      </div>


      <form method="post" action="" id="dbhu-search-form">
        <table id="dbhu-search" class="dbhu-extra-box">
          <tbody>
            <tr>
              <td colspan="2">
                <h2 class="dbhu-extra">Debreceni kereső</h2>
              </td>
            </tr>
            <tr>
              <td><input class="dbhu-normal" name="search" type="text"></td>
              <td class="dbhu-center">
              </td>
            </tr>
            <tr>
              <td>
                <select class="dbhu-normal" name="area">
                  <option value="debrecen.hu">a Debrecen.hu-n</option>
                  <option value="telefonkonyv">a Telefonkönyvben</option>
                </select>
              </td>
              <td class="dbhu-center"><input onclick="" type="image" name="go" src="{% static 'wayback/mehet.png' %}" class="dbhu-button"></td>
            </tr>
          </tbody>
        </table>
      </form>
      <hr>

      <div class="dbhu-textbox">
        <strong><span class="centered">Közérdekű:<br><br><a class="dbhu-continue" target="_blank" href="">Szervezeti
              információk<br></a><a class="dbhu-continue" target="_blank" href="">Személyzeti
              információk<br></a><a class="dbhu-continue" target="_blank" href="">Müködési
              információk<br></a><a class="dbhu-continue" target="_blank" href="">Gazdálkodási
              adatok<br></a><a class="dbhu-continue" target="_blank" href="">Vagyongazdálkodási
              információk</a><br><br>GVOP 4.3.2-es project&nbsp;keretében&nbsp;fejlesztett
            rendszerek:<br></span><br><span class="centered"><strong><a class="dbhu-continue" target="_blank"
                href=""><strong>Kisvállalkozói
                  információs rendszer<br></strong></a><a class="dbhu-continue" target="_blank"
                href=""><strong>Környezetvédelmi
                  rendszer<br></strong></a><a class="dbhu-continue" target="_blank" href=""><strong>Térinformatikai
                  rendszer</strong></a></strong></span></strong>
      </div>
      <div id="dbhu-webcam" class="dbhu-bluebox">
        <h2 class="dbhu-bluebox-title">Webkamera: Kossuth tér</h2>
        <p>
          <select id="webkamera">
            <option value=""> - - További webkamerák - -</option>
            <option value="wcam1"> - Kossuth tér -</option>
            <option value="wcam2"> - Piac utca -</option>
          </select>
        </p>
        <div class="dbhu-spacer dbhu-blue-bottom"></div>
      </div>
      <hr>

      <div id="dbhu-infobox" class="dbhu-bluebox">
        <h2 class="dbhu-bluebox-title">Infobox</h2>
        <dl>
          <p>Debrecen Megyei Jogú Város Polgármesteri Hivatala<br><strong>Régi városháza</strong><br>4024 Debrecen Piac
            u. 20.<br>Telefon: 52/511-400<br><br>Debrecen Megyei Jogú Város Polgármesteri Hivatala<br><strong>Új
              városháza</strong><br>4026 Debrecen Kálvin tér 11.<br>Telefon: 52/517-700<br><br>Információs zöld szám:
            06/80 203-951<br>E-mail: <a href="">
              eszrevetelek@ph.debrecen.hu
            </a><br><br><a href="">További
              hivatali e-mail címek<br></a><br>Ügyfélfogadás:<br><br>Szerda: 8.00 - 10.00<br>Csütörtök: 13.00 -
            17.00<br><br>Okmányiroda és a Kálvin tér 11 sz. alatti földszinti ügyfélszolgálat:<br><br>Hétfő: 8.00 -
            15.00<br>Kedd: 8.00 - 17.00<br>Szerda: 8.00 - 12.00<br>Csütörtök: 8.00 - 17.00<br>Péntek: 8.00 - 12.00</p>
        </dl>
        <div class="dbhu-spacer dbhu-blue-bottom"></div>
      </div>
      <hr>
      <div class="dbhu-filler20"></div>
    </div>

    <!-- TARTALOM VEGZODIK! -->

    <div id="dbhu-footer">
      <p class="dbhu-foobar">
        <span class="dbhu-pos-left">
          © 2006. debrecen.hu
        </span>
        <span class="dbhu-pos-right ">
          <a href="">Adatvédelem</a>&nbsp;|&nbsp;<a href="">Impresszum</a>&nbsp;|&nbsp;<a href="">Észrevételek</a>
        </span>
      </p>
      <a href="" id="dbhu-mie"><img src="{% static 'wayback/logo_magyarorszag_itt_epul.png' %}" alt="Magyarország itt épül"
          title="Magyarország itt épül"></a>
      <div id="dbhu-eu">
        <a href="" id="dbhu-euf"><img src="{% static 'wayback/logo_european_union.png' %}" alt="Európai Unió"
            title="Magyarország itt épül"></a>
        <a href="" id="dbhu-eut"><img src="{% static 'wayback/logo_europa_terv.png' %}" alt="Európa Terv" title="Európa Terv"></a>
      </div>
    </div>
  </div>
  -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>

<script src="{% static 'wayback/js-css/script.js' %}"></script>
</body>

</html>